<!DOCTYPE html>
<html dir ="rtl" lang="ar">
 <head>
    <meta charset="utf-8">
<meta name = "Website" content = "width=device-width, initial-scale=1.0">
<title>قاوم</title>


<link rel="icon" type="image/png"  href="images/favicon.ico">

<link rel="stylesheet" href="css/Home.css">
<link rel="stylesheet" href="css/program.css">
 </head>

<body>
    <img src="images/pro4.jpg" class="backpic" alt="">

<div class = "hero1">
  
    <nav>
        <a href="/"><img src="images/Logo4.PNG" class = "Logo"></a>
        <ul>
            <li>
                <a href="/">الصفحة الرئيسية</a>
            </li>
            <li>
                <a href="/consulit">إستشارات</a>
            </li>
            <li>
                <a href="/program">برامج</a>
            </li>
            <li>
                <a href="/express">عبر</a>
            </li>
            <li>
                <a href="#bottom" >تواصل معنا</a>
            </li>
            <li>
                <a href="/Login" class = "login">تسجيل الدخول</a>
            </li>
        </ul>
    </nav>
    <div class ="content" id="contant" >
        <h1 class="title"> البرنامج العلاجي لاضطراب القلق الاجتماعي</h1>
    </div>
    
</div>
<div class="join">
    <h>و لأن أول خطوة للتغير هي المقاومة , لا تتردد في الانضمام ! </h>
</div>
<div class="p11"><h3>  محتوى البرنامج </h3></div>
  <div class="container1">

    <div class="backcard1">
      <div class="card11">
        <h2 class="text5">المراحل</h2><br>
        <p>   <ul>
        </ul>

    <li> بناء العلاقة العلاجية، ووضع الأهداف السلوكية، والبدء بالتعرف على اليقظة العقلية</li>
    <li> التدريب على تكلفة السيطرة على القلق، وممارسة اليقظة العقلية</li>
    <li>التعرف على القيم والأهداف</li> 
    <li>التدريب على التشويش الإدراكي والسيطرة على الأفكار السلبية</li>
    <li>التعرف على أهمية تقبل الأفكار والمشاعر للتمكن من تعديلها</li>
    <li>التعرف على الرغبة والاستعداد</li>
    <li> مراجعة نموذج القلق الاجتماعي بعد ممارسة الرغبة والاستعداد والمواجهة، واليقظة العقلية</li></p>
      </div></div>
      
        <div class="backcard1">
            <div class="card11">
        <h2 class="text5">الأهداف</h2><br>
        <p>  <ul ></ul>
            <li >التدريب على اليقظة العقلية والتأمل والاسترخاء</li>
            <li>التعرف على القيم والأهداف</li>
            <li>الرغبة والاستعداد والتغيير</li></p>
      </div></div>
    
  </div>

 

  <div class = "bottom" id = "bottom">
    <div class = "title"><h4>تواصلوا معنا</h4></div> 
    <ul class = "address"><strong>العنوان:</strong>
        <li>جامعة الامام محمد بن سعود الإسلامية</li>
        <li>مبنى ٣٢٤</li>
     </ul>

     <ul class = "address"><strong>الدعم الفني:</strong>
        <li>٩٩٦٥٦٥٦٣٧٧٧٥+</li>
     </ul>

     <a href="https://twitter.com/Qawemhealth">
        <img src="images/icons8-twitter-150.png"></a>
   
        <a href="https://www.instagram.com/qawemhealth/">
        <img src="images/icons8-instagram-150.png"></a>
   
        <a href="mailto:qawem.contact@gmail.com">
        <img src="images/icons8-mail-150.png"></a>
   
        <a href="https://twitter.com/Qawemhealth">
        <img src="images/icons8-phone-100.png"></a>
   
        <p class ="copyr">&copy  جميع الحقوق محفوظة لقاوم</p>
    </body>
</body>