<!DOCTYPE html>
<html dir ="rtl" lang="ar">
 <head>
    <meta charset="utf-8">
	<meta name = "Website" content = "width=device-width, initial-scale=1.0">
	<title>قاوم</title>
	<link rel="stylesheet" href="css/Home.css">
	<link rel="stylesheet" href="css/Express.css">
	<script src = "draw.js"></script>

 	</head>
	<body>
		<img src="images/pic2.jpeg" class="backpicture" alt="">
		<div class = "hero">
           
			</img>
			<nav>
				<img src="images/Logo4.PNG" class="logo">
				<ul>
					<li>
						<a href="Home.html">الصفحة الرئيسية</a>
					</li>
					<li>
						<a href="consulit.html">إستشارات</a>
					</li>
					<li>
						<a href="program.html">برامج</a>
					</li>
					<li>
						<a href="express.html">عبر</a>
					</li>
					<li>
						<a href="#bottom" >تواصل معنا</a>
					</li>
					<li>
						<a href="#" class = "logout">تسجيل خروج</a>
					</li>
				</ul>
			</nav>
            <div class="contents">
                <h1>عبر لنا</h1>
                
            </div>
          
		</div>	
		
        
				<div class="down_frame">
					<div class="down" id="ask" >
						<form action="#" id="f1">
							
							<p class="text-form">فضفض لنا </p> <br>
							<textarea name="textarea" id="area" class="form-control form-control-comment form-sh"  required></textarea> <br>
							<form action="#" id="f1">
							<input type="submit" value="خاص" class="btn btn-shap" onclick="massge()">
							<input type="submit" value="شارك معنا" class="btn btn-shap" onclick="message()">
							</form>
							
						</form>
						
					</div>
                
					<div class = "bottom" id = "bottom">
						<div class = "title"><h5>تواصلوا معنا</h5></div> 
						<ul class = "address"><strong>العنوان:</strong>
							<li>جامعة الامام محمد بن سعود الإسلامية</li>
							<li>مبنى ٣٢٤</li>
						 </ul>
					
						 <ul class = "address"><strong>الدعم الفني:</strong>
							<li>٩٩٦٥٦٥٦٣٧٧٧٥+</li>
						 </ul>
					
						<a href="https://twitter.com/Qawemhealth">
						 <img src="images/icons8-twitter-150.png"></a>
					
						 <a href="https://www.instagram.com/qawemhealth/">
						 <img src="images/icons8-instagram-150.png"></a>
					
						 <a href="mailto:qawem.contact@gmail.com">
						 <img src="images/icons8-mail-150.png"></a>
					
						 <a href="https://twitter.com/Qawemhealth">
						 <img src="images/icons8-phone-100.png"></a>
					
						 <p class ="copyr">&copy جميع الحقوق محفوظة</p>
					</div>
	</body>
    <style>
        li a.login { display : none; }
    </style>
    <script src = "js/common.js"></script>
	</html>