* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Paddins',sans-serif; /* change to an arabic font */
}

body {
  direction: rtl;
}

.hero {

  width: 100%;
  height: 118vh;
  background-image:linear-gradient(rgba(12, 3, 51,0.3),rgba(12, 3, 51,0.3)) ;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.Logo {
  width: 80px;
}

nav ul li {

  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

nav ul li a {
  text-decoration: none;
  color: #ccd4d4;
  font-size: 17px;
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #ccd4d4;
    font-size: 17px;
}

img {
width: 120px;
height: 120px;
}

.content {
  text-align: center;
}

.content h1 {
  font-size: 75px;
  color: #ccd4d4; /* change color */
  font-weight: 600;
}

.content a{
  text-decoration: none;
  display: inline-block;
  color: #ccd4d4; /* change color */
  font-size: 20px;
  border: 2px solid #ccd4d4; /* change color */
  padding: 12px 60px;
  border-radius: 50px;
  margin-top: 20px; 
}

.content a:hover{
  color: #b34564 ;
  border: 2px solid #b34564 ;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

nav ul li :hover{
  color: #b34564;
  text-decoration:none; /* might change later */
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.back-video {
  position: absolute;
  width: 100%;
  height: 100px; /* auto just in case*/
  z-index: -1;
}

@media (min-aspect-ratio: 16/9){
  .back-video {
      width: 100%;
      height: auto;
}
}

@media (max-aspect-ratio: 16/9){
.back-video {
  width: auto;
  height: 100%;
}
}

div.About {
width: auto;
height: 100px;
margin: auto;
padding: 0;
background-color: white;
text-align: right;
color: #6899b4;
margin-right: 40px;
margin-top: 100px;
margin-bottom: 200px;
font-size: 30px;
}

div.bottom {
width: auto;
height: 250px;
margin: auto;
padding-top: 10px;
background-color: white;
text-align: right;
color: #6899b4;
margin-top: 150px;
margin-bottom: 0.2px;
}

div.title{
  font-size: 30px;
  margin-top: 10px;
  margin-right: 40px;
  margin-bottom: 40px;
  text-align: right;
}

div.bottom img {
width: 40px;
height: 40px;
margin-right: 40px;
margin-top: 5px;
border-radius: 5px;
float:left;
margin-left: 10px;
}

div.bottom img:hover{
  background-color: #b34564;
  width: 40px;
  height: 40px;
  opacity: 0.7;
  border-radius: 5px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;


border-radius: 5px;
}

.column {
  float: right;
  width: 25%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 100px;
  position: relative;


}
.row::after {
  content: "";
  clear: both;
  display: white;
  margin-top: 100px;
}

.photo{
  width: 100%;
  height: 100%;
}

.photo1{
  width: 100%;
  height: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay>* {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover>* {
  transform: translateY(0);
}

.image__title {
  font-size: 2em;
  font-weight: bold;
}

p {
  font-size: 20px;
  margin-top: 10px;
}

.myImage {
float: left;
height: 350px;
width: 405px;
margin-top: -120px;
}

h3 {
  font-size: 45px;
  color:#6899b4;
  margin-right: 40px;
}

h4 {
  font-size: 45px;
  color:#6899b4;
}

.image__title {
font-size: 2em;
font-weight: bold;
}

.container {
  display: flex;
  gap: 12px;
  max-width: 100%;
  width: 100%;
  position: relative;
  padding: 30px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  height: 560px;
  background-color: #fff;
  margin-top: 5px;
}
.backcard{
  background-color: #6899b4;
  height: 500px;
  width: 400px;
  border-radius: 12px;

}
.card {
  display: flex;
   height: 450px;
   width: 320px;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top:  25px  ;
  margin-right: 20px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.p1{
  text-align: right;
  color: #6899b4;
  font-size: 30px;
   font-weight: bold;
  margin-top: 440px;
}

.copyr {
  text-align: center;
  margin-right: 50px;
  float: center;
}

.address{
  text-align:right;
  top: 30px;
  float: right;
  margin-right: 80px;
}


.titlemt{
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
